h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 3, 3em;
  color: white;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #b5b5b5;
}

body {
  position: relative;
  margin: auto;
  max-width: 800px;
  height: 100%;
  background-color: #e2e8e8;
}

.body-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("assets/fonts/opensans/opensans-Light"), url("assets/fonts/opensans/opensanslight.woff2") format("woff2"), url("assets/fonts/opensans/opensanslight.woff") format("woff"), url("assets/fonts/opensans/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light Italic"), local("assets/fonts/opensans/opensansLight-Italic"), url("assets/fonts/opensans/opensanslightitalic.woff2") format("woff2"), url("assets/fonts/opensans/opensanslightitalic.woff") format("woff"), url("assets/fonts/opensans/opensanslightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("assets/fonts/opensans/opensans"), url("assets/fonts/opensans/opensans.woff2") format("woff2"), url("assets/fonts/opensans/opensans.woff") format("woff"), url("assets/fonts/opensans/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), local("assets/fonts/opensans/opensans-Italic"), url("assets/fonts/opensans/opensansitalic.woff2") format("woff2"), url("assets/fonts/opensans/opensansitalic.woff") format("woff"), url("assets/fonts/opensans/opensansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold"), local("assets/fonts/opensans/opensans-Semibold"), url("assets/fonts/opensans/opensanssemibold.woff2") format("woff2"), url("assets/fonts/opensans/opensanssemibold.woff") format("woff"), url("assets/fonts/opensans/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold Italic"), local("assets/fonts/opensans/opensans-SemiboldItalic"), url("assets/fonts/opensans/opensanssemibolditalic.woff2") format("woff2"), url("assets/fonts/opensans/opensanssemibolditalic.woff") format("woff"), url("assets/fonts/opensans/opensanssemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("assets/fonts/opensans/opensans-Bold"), url("assets/fonts/opensans/opensansbold.woff2") format("woff2"), url("assets/fonts/opensans/opensansbold.woff") format("woff"), url("assets/fonts/opensans/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold Italic"), local("assets/fonts/opensa../assets/fonts/opensans/opensans-BoldItalic"), url("assets/fonts/opensans/opensansbolditalic.woff2") format("woff2"), url("assets/fonts/opensans/opensansbolditalic.woff") format("woff"), url("assets/fonts/opensans/opensansbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Extrabold"), local("assets/fonts/opensans/opensans-Extrabold"), url("assets/fonts/opensans/opensansextrabold.woff2") format("woff2"), url("assets/fonts/opensans/opensansextrabold.woff") format("woff"), url("assets/fonts/opensans/opensansextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Extrabold Italic"), local("assets/fonts/opensans/opensans-ExtraboldItalic"), url("assets/fonts/opensans/opensansextrabolditalic.woff2") format("woff2"), url("assets/fonts/opensans/opensansextrabolditalic.woff") format("woff"), url("assets/fonts/opensans/opensansextrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppipxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/poppins/Poppins-Regular.otf");
  font-weight: normal;
  font-style: italic;
}
h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 3, 3em;
  color: white;
}

.switch {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 50px;
  background-color: #ad7751;
}

.header {
  background-color: red;
}

.personal_info {
  background-color: green;
  height: 100px;
}

.education {
  background-color: yellow;
  height: 100px;
}

.projects {
  background-color: blue;
  height: 200px;
}

/*# sourceMappingURL=main.css.map */
