$body-color: #e2e8e8;
$main-color: #ad7751;
$wrapper-color: #b5b5b5;

h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 3,3em;
    color: white;
}